# ======================
# IDE
# ======================
.idea/
.vscode/
*.iml

# ======================
# Node / Expo
# ======================
node_modules/
.expo/
dist/
build/

# ======================
# Java / Maven
# ======================
target/
*.log

# ======================
# OS
# ======================
.DS_Store
Thumbs.db
