# =====================
# Java / Maven
# =====================
target/
*.class
*.jar
*.war

# =====================
# IDEs
# =====================
.idea/
*.iml
.vscode/

# =====================
# Logs
# =====================
*.log
logs/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# Env / Secrets
# =====================
.env
application-local.yml
application-local.properties
