server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/auth_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

management:
  security:
    enabled: false
  endpoints:
    web:
      exposure:
        include: "*"


jwt:
  secret: "optimum-secret-key-optimum-secret-key"
  expiration: 3600000
